/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
onkalo.log
config-local.edn
.idea
*.iml
resources/public/js/*
resources/translations.txt
figwheel*
/bin/
.classpath
.settings/
sessionkey
.DS_Store
build.xml
test2junit/
.eastwood
.clj-kondo/.*
